/* You can add global styles to this file, and also import other style files */
@import "../node_modules/owl.carousel/dist/assets/owl.carousel.css";
// @import $ from '../node_modules/jquery/dist/jquery.js';
// @import "imports?jQuery=jquery!owl.carousel";


body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn {
  border-radius: 3px;
}

.form-control:focus {
  border: 1px solid #7f7f7f;
}

.input-group {
  margin-bottom: 15px;
}

@import "assets/scss/font-awesome/font-awesome";
@import "assets/variables";
// ----------fonts-------------
$font-family-base: "Open Sans",
sans-serif !default;
body {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

h1,
h2,
button {
  font-family: "Open Sans" !important;
}

// ----------font Awesome-------------
@font-face {
  font-family: 'FontAwesome';
  src: url('assets/fonts/font-awesome/fontawesome-webfont.eot');
  src: url('assets/fonts/font-awesome/fontawesome-webfont.eot') format('embedded-opentype'), url('assets/fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), url('assets/fonts/font-awesome/fontawesome-webfont.woff') format('woff'), url('assets/fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'), url('assets/fonts/font-awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
