<div class="nav">
  <div class="top-bar">
    <div class="tbar-menu">
      <h6 class="tbar-heading">
        <strong>Welcome To Ideal Bazar Collection</strong>
      </h6>
      <ul>
        <li>
          <a href="#">Account</a>
        </li>
        <li>
          <a routerLink="/cart">Cart</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mid-bar">
    <div class="form">
      <input type="text" class="form-control" placeholder="Search Entire Store Here">
    </div>

    <div class="cart-align">
      <span ><i class="fa fa-shopping-cart fa-lg"></i>
        <h6 class=""><strong>2 Items</strong> - Rs.4,500/-</h6>
    </span>

    </div>
  </div>

  <div class="bottom-bar">
    <div class="main-menu">
      <!-- <ul class="navbar-nav">
        <li>
          <a routerLink="/">HOME</a>
        </li>
        <li>
          <a href="#">MEN'S WEAR</a>
        </li>
        <li>
          <a href="#">WOMEN'S WEAR</a>
        </li>
        <li>
          <a href="#">ABOUT US</a>
        </li>
        <li>
          <a routerLink="/faq">FAQs</a>
        </li>
        <li>
          <a routerLink="/contact">CONTACT US</a>
        </li>
      </ul> -->
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#">MEN'S WEAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#">WOMEN'S WEAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/faq">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</div>
