.top-bar{
    width: 100%;
    height: 30px;
    background-color: rgba(68, 68, 68, 1);
    color: white;
    position: absolute;
    
    .tbar-heading{
        float: left;
        margin-left: 5em;
        position: relative;
    }
}
.mid-bar{
    width: 100%;
    height: 7em;
    background-color:rgba(255, 255, 255, 1);   
    
}

.form input{
        top: 4em;
        margin: auto;
        height: 2em;
        width: 20em;
        position: relative;
}



.bottom-bar{
    width: 100%;
    height: 45px;
    background-color:rgba(68, 68, 68, 1);
 }

 .tbar-menu{
     ul{
         text-decoration: none;
         list-style: none;
         float: right;
         right: 5em;
         position: relative;
         
     }
     li{
         float: left;
         
     }
    li a{
         color: rgba(235, 235, 235, 1);
         font-size: 0.8em;
         display:inline-block;
         padding: 0.5em;
     }

     
 }

 .main-menu{
     ul{
        text-align: center; 
        text-decoration: none;
        list-style: none;
        position: relative;
        
     }
     li{
         float: left;
     }
     li a{
        color: rgba(255, 255, 255, 1);
        font-size: 1em;
        display: block;
        padding: 0.9em;
        margin-right: 1em;
    }

 }
.nav-tabs{
    a:active{
        color: #7f7f7f;
    }
}
 .cart-align{
    font-size: 2em;
    float: right;
    right: 6em;
    top: 0.7em;
    position: relative;
 }