.bottom-footer{
    width: 100%;
    height: 50px;
    background-color:rgb(68, 68, 68);
    position: relative;
    bottom: 0;
 
.top-footer{
    width: 100%;
    height: 100px;
    background-color:rgb(68, 68, 68);
    margin-bottom: 50px;
    position: relative;
    left: 0;
    right: 0;
    top: 50px;
}    

}