.back-image {
  height: 200px;
  .clear {
    clear: both;
  }
  .cart {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/apple.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .heading {
      height: inherit;
      h1 {
        top: 5.7%;
        left: 1%;
        width: 98%;
        position: relative;
        text-align: center;
        background-color: rgba(43, 42, 42, 0.7);
        color: #ffffff;
        line-height: 2.3;
        padding: 40px;
        font-size: 3em;
        margin: 0px;
      }
    }
  }
}

.container {
  .return {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 5px;
    p {
      margin: 0px;
    }
  }
  table {
    th {
      padding: 5px;
    }
  }
  .row {
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    label {
      font-weight: 600;
    }
    input,
    textarea {
      background-color: #fafafa;
    }
    textarea {
      resize: vertical;
      min-height: 34px;
      max-height: 130px;
    }
    .order {
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fafafa;
      height: 400px;
      padding: 15px;
      h3 {
        font-weight: 700;
      }
      .heading {
        font-weight: 700;
      }
    }
    .col-sm-5 {
      .row {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fafafa;
        padding: 12px;
        h3 {
          margin-top: 10px;
          margin-bottom: 10px;
          font-weight: 700;
        }
        .btn {
          border-radius: 4px;
          margin-top: 10px;
          color: #fff;
          background-color: #444;
        }
      }
    }
  }
}

.total {
  text-align: right;
  th {
    text-align: right;
  }
  .total-price {
    h4{
         padding-top: 0.75rem;
    }
    .price {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
